:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}
.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_botao{
    background-color: var(--botao-azul);
    border-radius: 1em;
    padding: 1em;
    color:var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: lem;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    border-radius: 16px;
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}

.container_imagem{
    margin: lem 0 2em 0;
}

.container_caixa{
    margin: 0 6em;
    margin-top: 150px;
}
